<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<title>Successful registartion</title>
</head>
<body>
	<div class="successful-registartion">
		<h2>Congratulations! You successfully registered your company</h2>
			<button>Some button</button>
	</div>
	<div class="return">
		<a href="/backend/templates/company/login.html" class="btn btn-success">Back to login</a>
	</div>
</body>
</html>