<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<title>Register your company</title>
</head>
<body>
	<div class="registartion">
		<h2>Register your company here</h2>
		<form method="post">
			{% csrf_token %}
			{{ form.name }} <br>
			{{ form.llc_number }} <br>
			{{ form.email }} <br>
			{{ form.password }} <br>
			<span>{{ error }}</span>
			<button class="btn-btn-success" type="submit">Add company</button>
		</form>
	</div>
</body>
</html>